{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'doador/css/doador.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">

            <div class="col-md card-dashboard">
                <p class="text-card">Quero Doar</p>
            </div>

        </div>

        <!--Aqui começa o formulário ação enviar para URL doador-->
        <div class="adicionar-cliente">
            <form action="{% url 'doador' %}" method="POST">{% csrf_token%}
                <div class="row">
                    <div class="col-md">
                        <p>Nome:</p>
                        <input type="text" class="form-control" placeholder="Primeiro nome" name="vnome">
                    
                    </div>
                    <div class="col-md">
                        <p>Sobrenome:</p>
                        <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome">
                    </div>
                    
                </div>
                <br>
                <p>E-mail:</p>
                <input type="email" class="form-control" placeholder="nome@email.com" name="email">
                <br>
                <p>CPF:</p>
                <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf">
                <hr style="background-color:gray;">
                <div class="add-carros">
                    <h3>Materiais</h3>
                    <span class="btn-add-carros" onclick="add_material()"> + Adicionar material</span>

                    <div id="form-material">

                    </div>

                </div>

                <br>
                <input type="submit" value="Cadastrar" class="btn-principal">

            </form>
            
        </div>
    </div>
    <script src="{% static 'doador/js/doador.js' %}"></script>
{% endblock %}

