{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'doador/css/doador.css' %}">
    <title>DRP01_PJI110_Sala_005_Grupo_003</title>
    <meta name="description" content="Grupo de alunos UNIVESP">
    <meta charset="UTF-8">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">

            <div class="col-md card-dashboard">
                <p class="text-card">Promovendo Acesso à Educação: Doação de Material Escolar</p>
            </div>

        </div>

        <!--AQUI COMEÇA O TEXTO DA HOME-->
        <div class="principal"><br>
                <h2>Site para cadastro de itens para doação!</h2>
                <p>O objetivo deste projeto é reduzir o desperdício e realizar o aproveitamento de materiais escolares ou outros tipos de materiais 
                que costumamos ter sobrando em nossas casa, como materiais de papelaria (folhas sulfite, cadernos, lápis, canetas, borrachas, e etc), 
                além de livros escolares e de literatura. Aqui você pode cadastrar seus itens para doação. 
                As doações serão redirecionadas, neste primeiro momento, apenas para as escolas públicas localizadas no Município de São Caetano do Sul - SP. 
                </p> 
                <p>"Nossa missão é: "<strong>" Reduzir o desperdício e realizar o subaproveitamento de materiais escolares, 
                direcionando-os aos indivíduos mais necessitados, através deste canal de comunicação.</strong>
                </p>
                <img src="">
               
            
            
            <div ali><img src="{% static 'img/pngtree_simple_cartoon_charity_4973565.png' %}" width="350px"></div>
        </div>
    </div>
    <script src="{% static 'doador/js/doador.js' %}"></script>
{% endblock %}

